<footer>
    <!-- <p>  
    Copyright Md. Tahir Anam Tamin © All rights reserved.</p> -->
    <!-- scripts that will use the data on the loaded element of the document must be used on footer or at the end of page otherwise it will return null -->
    <script src="/public/scripts/singleCourseTeacher/excelsheetGenerator.js"></script>

</footer>