

  <% if(from == 'teacherDashboard'){ %>
    <div class="sidenav">
      <a href="/">Home</a>
      <a href="#changePassword">Change Password</a>
      <a href="#courseInfo">CourseInfo</a>
      <a href="/teacherLogout">LogOut</a>
    </div>
    <% } else if (from == 'teacherGuest'){%>
      <div class="sidenav">
        <a href="/">Home</a>
        <a href="#changePassword">For Student</a>
        <a href="/adminHome">For Admin</a>
        <a href="#contact">Contact</a>
      </div>
      <% } else if(from == 'adminGuest'){ %>
        <div class="sidenav">
          <a href="/">Back to Home</a>
          <a href="#contact">Contact</a>
        </div>
        <% } else if(from == 'adminDashboard'){%>
          <div class="sidenav">
          <a href="#changePassword">Change Password</a>
          <a href="#courseInfo">CourseInfo</a>
          <a href="#adminLogout">LogOut</a>
        </div>
          <% } %>