<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

  
  <div class="main">


    
    <h2>Admin Dashboard</h2>
    <h3>Welcome</h3>
    
  </div>
    
  </div>
</body>
</html>