<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

  
  <div class="main">

    


    <h3>Welcome to Teachers Dashboard</h3>
    <h2><%= registerName %></h2>
    
    
    
  </div>
</body>
</html>